mat-card.start-page-card{
    background-color: #007bff;
    width: 250px;
    height: 250px;
    border: #1865b8;
    color: white;
    text-align: center;
    margin: 50px

}
.card-icon{
    zoom: 3;
    position: inherit;
    bottom: -20px
    
}