<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Feladatok kezelése</h4>
            <p class="card-category">Hozzád kapcsolodó feladatok</p>
          </div>
          <div class="card-body">
            <!-- Új feladat felvétele -->
            <div class="row">
              <div class="col-md-2">
                <mat-form-field>
                  <mat-label>Projektek</mat-label>
                  <mat-select [(ngModel)]="selectedProjectId" name="project">
                    <mat-option *ngFor="let project of projectMaps" [value]="project.id">
                      {{project.projectName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">

                <button class="btn btn-info" (click)="navigateToCreate(selectedProjectId)" [(disabled)]="buttonDisable">
                  <span>Új feladat létrehozása</span>
                </button>
              </div>
            </div>

            <div class="row">
              <ul class="list-group col-md-6">
                <h2>Általad létrehozot feladatok</h2>

                <table mat-table [dataSource]="ownTasks" class="mat-elevation-z8">
                  <ng-container matColumnDef="issueName">
                    <th mat-header-cell *matHeaderCellDef> Feladat </th>
                    <td mat-cell *matCellDef="let element"> {{element.issueName}} </td>
                  </ng-container>

                  <ng-container matColumnDef="createUserName">
                    <th mat-header-cell *matHeaderCellDef> Létrehozó </th>
                    <td mat-cell *matCellDef="let element"> {{element.createUserName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="responsibleUserName">
                    <th mat-header-cell *matHeaderCellDef> Felelős </th>
                    <td mat-cell *matCellDef="let element"> {{element.responsibleUserName}} </td>
                  </ng-container>

                  <ng-container matColumnDef="issueType">
                    <th mat-header-cell *matHeaderCellDef> Típus</th>
                    <td mat-cell *matCellDef="let element"> {{element.issueType}} </td>
                  </ng-container>

                  <ng-container matColumnDef="issueStatus">
                    <th mat-header-cell *matHeaderCellDef> Státusz </th>
                    <td mat-cell *matCellDef="let element"> {{element.issueStatus}} </td>
                  </ng-container>

                  <ng-container matColumnDef="show">
                    <th mat-header-cell *matHeaderCellDef> Műveletek</th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button [matMenuTriggerFor]="menu">
                        <i class="material-icons">settings</i>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="navigateToView(element.id)">
                          <mat-icon>visibility</mat-icon>
                          <span>Megtekintő</span>
                        </button>
                        <button mat-menu-item (click)="navigateToModify(element.id)">
                          <mat-icon>edit</mat-icon>
                          <span>Szerkesztés</span>
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>
                  <!---->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </ul>

              <ul class="list-group col-md-6">
                <h2>Feladataid</h2>
                <table mat-table [dataSource]="attendantTask" class="mat-elevation-z8">
                  <ng-container matColumnDef="issueName">
                    <th mat-header-cell *matHeaderCellDef> Feladat neve </th>
                    <td mat-cell *matCellDef="let element"> {{element.issueName}} </td>
                  </ng-container>

                  <ng-container matColumnDef="createUserName">
                    <th mat-header-cell *matHeaderCellDef> Létrehozó neve </th>
                    <td mat-cell *matCellDef="let element"> {{element.createUserName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="responsibleUserName">
                    <th mat-header-cell *matHeaderCellDef> Felelős neve </th>
                    <td mat-cell *matCellDef="let element"> {{element.responsibleUserName}} </td>
                  </ng-container>

                  <ng-container matColumnDef="issueType">
                    <th mat-header-cell *matHeaderCellDef> Típus</th>
                    <td mat-cell *matCellDef="let element"> {{element.issueType}} </td>
                  </ng-container>

                  <ng-container matColumnDef="issueStatus">
                    <th mat-header-cell *matHeaderCellDef> Státusz </th>
                    <td mat-cell *matCellDef="let element"> {{element.issueStatus}} </td>
                  </ng-container>

                  <ng-container matColumnDef="show">
                    <th mat-header-cell *matHeaderCellDef> Műveletek</th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button [matMenuTriggerFor]="menu">
                        <i class="material-icons">settings</i>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="navigateToView(element.id)">
                          <mat-icon>visibility</mat-icon>
                          <span>Megtekintő</span>
                        </button>
                        <button mat-menu-item (click)="navigateToModify(element.id)">
                          <mat-icon>edit</mat-icon>
                          <span>Szerkesztés</span>
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>
                  <!---->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>