<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Feladat megtekintő</h4>
                        <p class="card-category">A feladatokhoz tartozó információk</p>
                    </div>

                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-md-10">
                                <b>Feladat megnevezése: </b>
                                {{currentTask?.issueName}}
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-info" (click)="navigateToModify()">
                                    <mat-icon class="card-icon">settings</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <b>A feladatott létrehozta: </b>
                                {{currentTask?.createUserName}}
                            </div>
                            <div class="col-md-4">
                                <b>Létrehozás ideje: </b>
                                {{currentTask?.dateOfCreate | date: 'yyyy-MM-d hh:mm'}}
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <b>Projekt: </b>{{currentTask?.projectName}}
                            </div>
                            <div class="col-md-4">
                                <b>Sprint: </b>{{currentTask?.sprintName}}
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <b>Feladat jelenlegi állapota: </b>
                                <button class="btn btn-info button-tag"> <b>
                                        {{currentTask?.issueStatus}}
                                    </b></button>
                            </div>
                            <div class="col-md-4">
                                <b>Feladat típusa: </b>
                                <button class="btn btn-info button-tag"> <b>{{currentTask?.issueType}}</b></button>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <b>A feladat felelőse: </b> {{currentTask?.responsibleUserName}}
                            </div>
                            <div class="col-md-4">
                                <b>Becsült idő: </b>
                                {{currentTask?.estimatedTime}} óra
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <b>Leírás:</b>
                                <div class="card">
                                    <div class="card-body">
                                        <span>{{currentTask?.description}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Megjegyzések</h4>
                        <p class="card-category">A feladatokhoz tartozó megjegyzések</p>
                    </div>
                    <div class="card-body">
                        <mat-form-field>
                            <textarea matInput placeholder="Megjegyzés" name="comment_description" rows="6"
                                [(ngModel)]="commentDescription ">
                          </textarea>
                        </mat-form-field>
                        <button class="btn btn-info" (click)="sendComment()">Hozzászólás</button>
                        <ng-container *ngFor="let comment of comments">
                            <app-comment-view-component [comment]="comment" (deleteEmitter)="delete($event)">
                            </app-comment-view-component>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>