<div class="container">
    <h2>Feladat megtekintő</h2>
    <div class="card">
        <div class="card-header">
            Feladat megnevezése
            <button class="btn btn-default">
                <mat-icon class="card-icon">settings</mat-icon>
            </button>
        </div>
        <div class="card-body">
            <label>A feladatott létrehozta: </label>
            Kedves Éva
            <br>
            <span>Létrehozás ideje: 2019.03.12 12:32:12</span>
            <br>
            <span>A feladatott felelőse: name1</span>
            <br>
            <span>Feladat jelenlegi állapota: Folyamatban</span> - <span>Feladat feladat státusza: Open</span>
            <span>Leírás:</span>
            <div class="card">
                <div class="card-body">
                    <span>Szöveg...</span>
                </div>
            </div>



        </div>
    </div>
    <h2>Megjegyzések:</h2>
    <button class="btn btn-primary">Hozzászólás</button>
    <app-comment-view-component></app-comment-view-component>


    <button class="btn btn-default">Vissza</button>

</div>