
<div class="container-fluid">
        <h1>Új csoport létrehozása </h1>
        <button class="btn btn-primary" (click)="createOrUpdateGroup()" [(disabled)]="buttonDisable">
            <span>Új csoport létrehozása</span>
        </button>
<div class="col-md-12 row">
        <ul class="list-group col-md-6">
                <h2>Saját csoportok</h2>
                <div *ngFor="let group of ownGroup">
                <li class="list-group-item">
                    <strong>{{ group.groupName }}</strong>
                    <span class="text-right col-md-1">
                            <button class="btn btn-primary" (click)="navigate(group.id)"> <strong>Mutasd</strong> </button>
                    </span>
                    
                </li>
            </div>
        </ul>

        <ul class="list-group col-md-6">
                <h2>Megosztott csoportok</h2>
                <div *ngFor="let group of attendantGroup">
                        <li class="list-group-item">
                            <strong>{{ group.groupName }}</strong>
                            <span> - {{group.createdUserName}}</span>
                        
                            <span class="text-right col-md-1" >
                                    <button class="btn btn-primary" (click)="navigate(group.id)"> <strong>Mutasd</strong> </button>
                            </span>
                        </li>
                </div>
        </ul>
</div>

       

</div>
