
<div class="container">
    <h1>Feladat létrehozása</h1>
    <mat-form-field>
            <input 
                matInput 
                placeholder="Feladat megnevezése"
                name="task_name"
                [(ngModel)]="taskModel.issueName"
                required>
    </mat-form-field>

    <br>
    <mat-form-field >
            <textarea 
                matInput 
                placeholder="Feladat leírás"
                name = "task_description"
                [(ngModel)]="taskModel.description"
                required>
            </textarea>
    </mat-form-field>

    <br>
    <mat-form-field>
            <mat-label>Felelős személy</mat-label>
            <mat-select [(ngModel)]="taskModel.responsibleUserId" name="mamber">
              <mat-option *ngFor="let mamber of groupMambers" [value]="mamber.id">
                {{mamber.userName}}
              </mat-option>
            </mat-select>
    </mat-form-field>

    <br>
    <mat-form-field>
            <mat-label>Sprint</mat-label>
            <mat-select [(ngModel)]="taskModel.sprintId" name="sprint">
              <mat-option *ngFor="let sprint of sprints" [value]="sprint.id">
                {{sprint.sprintName}}
              </mat-option>
            </mat-select>
    </mat-form-field>

    <br>
    <mat-form-field>
        <mat-label>Feladat tipusa</mat-label>
        <mat-select [(ngModel)]="taskModel.issueType" name="type">
            <mat-option *ngFor="let type of issueTypes" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
      </mat-form-field>

    <br>
      <mat-form-field>
          <mat-label>Feladat állapota</mat-label>
          <mat-select [(value)]="taskModel.issueStatus" name="status">
            <mat-option *ngFor="let status of issueStatus" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>

    <br>
    <mat-form-field>
            <input 
            type="number"
            min="0"
            step="0.5"
                matInput 
                placeholder="Becsült idő"
                name="task_name"
                [(ngModel)]="taskModel.estimatedTime">
    </mat-form-field>
    <br>
    <button class="btn btn-primary" (click)="saveTask()">Létrehozás</button>
    <button class="btn btn-default" (click)="backnavigate()">Vissza</button>
</div>   