<div class="container">
    <div>
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Profil adatok">

            <a routerLink="/person-details">
                <mat-card id="home-card" class="start-page-card">
                    <mat-icon class="card-icon">account_box</mat-icon>
                </mat-card>
            </a>
        </span>

        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Csoportok">

            <a routerLink="/group-list">
                <mat-card id="card-profil" class="start-page-card">
                    <mat-icon class="card-icon">view_list</mat-icon>
                </mat-card>
            </a>
        </span>

        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Naptár">
            <a routerLink="/calendar">
                <mat-card id="card-profil" class="start-page-card">
                    <mat-icon class="card-icon">event_note</mat-icon>
                </mat-card>
            </a>
        </span>

        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Feladatok">
            <a routerLink="/home">
                <mat-card id="card-profil" class="start-page-card">
                    <mat-icon class="card-icon">subject</mat-icon>
                </mat-card>
            </a>
        </span>
    </div>

</div>