/* @import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

mat-dialog-container {
    display: inline-table !important;
    padding: unset !important;
}

button.button-tag {
    border-radius: 40%;
    padding: 7px
}

mat-form-field {
    width: 100%;
}