<div class="card">
    <div class="card-header card-header-info">
        <h1 mat-dialog-title>Sprint létrehozás</h1>
    </div>
    <form #sprintForm="ngForm">

        <div class="card-body">
            <div class="col-md-12">
                <div mat-dialog-content>
                    <div class="row">
                        <div class="col-md-8">
                            <mat-form-field>
                                <input matInput placeholder="Sprint megnevezése" name="sprint_name"
                                    [(ngModel)]="sprintModel.sprintName" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <mat-form-field>
                                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
                                    placeholder="Sprint kezdete" name="dateOfStart"
                                    [(ngModel)]="sprintModel.dateOfStart" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <!--
    <div>
        <mat-form-field class="example-full-width">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Sprint vége" name="dateOfEnd" [(ngModel)]="sprintModel.dateOfEnd">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
    </div>
    -->

                </div>
            </div>
        </div>
        <div class="card-footer">
            <mat-dialog-actions align="end">
                <button mat-button class="btn btn-info" (click)="save()" [disabled]="sprintForm.invalid">Mentés</button>
                <button mat-button mat-dialog-close class="btn btn-danger">Mégse</button>
            </mat-dialog-actions>
        </div>
    </form>
</div>