<div class="card">
    <div class="card-header card-header-info">
        <h1 mat-dialog-title>Projekt létrehozás</h1>
    </div>
    <form #projectForm="ngForm">
        <div class="card-body">
            <div class="col-md-12">
                <div mat-dialog-content>
                    <div class="row">
                        <div class="col-md-8">
                            <mat-form-field>
                                <input matInput placeholder="Projekt név" name="project_name"
                                    [(ngModel)]="projectModel.projectName" required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <mat-form-field>
                                <textarea matInput placeholder="Projekt leírás" name="project_description"
                                    [(ngModel)]="projectModel.description" rows="6">
                        </textarea>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
    <div class="card-footer">
        <mat-dialog-actions align="end">
            <button mat-button class="btn btn-info" (click)="save()" [disabled]="projectForm.invalid">Mentés</button>
            <button mat-button mat-dialog-close class="btn btn-danger">Mégse</button>
        </mat-dialog-actions>
    </div>
</div>