<div class="card">
    <div class="card-header card-header-info">
        <h1 mat-dialog-title>Felhasználó hozzáadása csoporthoz:</h1>
    </div>
    <div class="card-body">
        <div mat-dialog-content>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Felhasználó név" name="user_name" [(ngModel)]="username">
            </mat-form-field>
        </div>
    </div>
    <div class="card-footer">
        <mat-dialog-actions align="end">
            <button mat-button class="btn btn-info" (click)="save()">Mentés</button>
            <button mat-button mat-dialog-close class="btn btn-danger">Mégse</button>
        </mat-dialog-actions>
    </div>
</div>