<table mat-table [dataSource]="developmentDTOs" class="mat-elevation-z8">

    <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef> Projekt </th>
        <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
    </ng-container>

    <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef> Felhasználónév </th>
        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>

    <ng-container matColumnDef="taskName">
        <th mat-header-cell *matHeaderCellDef> Feladat </th>
        <td mat-cell *matCellDef="let element"> {{element.taskName}} </td>
    </ng-container>

    <ng-container matColumnDef="day">
        <th mat-header-cell *matHeaderCellDef> Időpont</th>
        <td mat-cell *matCellDef="let element"> {{element.day}} </td>
    </ng-container>

    <ng-container matColumnDef="developedHours">
        <th mat-header-cell *matHeaderCellDef> Ráfordított idő </th>
        <td mat-cell *matCellDef="let element"> {{element.developedHours}} </td>
    </ng-container>

    <ng-container matColumnDef="show">
        <th mat-header-cell *matHeaderCellDef> Műveletek</th>
        <td mat-cell *matCellDef="let element">
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Tovább">
                <button class="btn btn-info" (click)="navigate(element.id)">
                    <mat-icon>navigate_next</mat-icon>
                </button>
            </span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>