<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Feladat szerkesztése</h4>
                        <p class="card-category">A kiválasztott feladatot lehet szerkeszteni</p>
                    </div>
                    <div class="card-body">
                        <form #f>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <input matInput placeholder="Project neve" name="project_name"
                                            [ngModel]="currentProjectName" disabled>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <input matInput placeholder="Feladat megnevezése" name="task_name"
                                            [(ngModel)]="taskModel.issueName" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <textarea matInput placeholder="Feladat leírás" name="task_description"
                                            [(ngModel)]="taskModel.description" rows="6" required>
                                        </textarea>
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Felelős személy</mat-label>
                                        <mat-select [(ngModel)]="taskModel.responsibleUserId" name="member">
                                            <mat-option *ngFor="let member of groupMembers" [value]="member.id">
                                                {{member.userName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Sprint</mat-label>
                                        <mat-select [(ngModel)]="taskModel.sprintId" name="sprint">
                                            <mat-option *ngFor="let sprint of sprints" [value]="sprint.id">
                                                {{sprint.sprintName}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Feladat tipusa</mat-label>
                                        <mat-select [(ngModel)]="taskModel.issueType" name="type">
                                            <mat-option *ngFor="let type of issueTypes" [value]="type">
                                                {{type}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Feladat állapota</mat-label>
                                        <mat-select [(value)]="taskModel.issueStatus" name="status">
                                            <mat-option *ngFor="let status of issueStatus" [value]="status">
                                                {{status}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <input type="number" min="0" step="1" matInput placeholder="Becsült idő"
                                            name="task_estimated_time" [(ngModel)]="taskModel.estimatedTime">
                                    </mat-form-field>
                                </div>
                            </div>

                            <button class="btn btn-info" (click)="updateTask()">Mentés</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>